@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat&family=Open+Sans:wght@300;400&display=swap');

*{
    box-sizing:border-box;
    margin: 0;
    padding:0;
    font-family: "Bebas Neue",sans-serif;
}

body{
    width: 100%;
    height: 100vh;
}

/*nav_bar*/
li, a {
font-family:"Bebas Neue",sans-serif;
font-weight: 500;
font-size: 20px;
color:white;
text-decoration:none;
background-color:#456c87;
}

.login-btn {
font-family:"Bebas Neue",sans-serif;
font-weight: 500;
font-size: 20px;
color:white;
text-decoration:none;
background-color:#456c87;

}
header {
    display:flex;
    justify-content: space-between;
    align-items:center;
    padding: 30px 10%;
    background-color:#456c87;
}

.logo{
    cursor: pointer;
    width: 19%;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display:inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color:#404040;
    
}

.login-btn {
    padding: 9px 25px;
    background-color: rgb(54, 78, 99);
    border:none;
    border-radius: 30px;
    cursor:pointer;
    transition: all 0.3s ease 0s;
    
}
.login-btn:hover{
    background-color: rgba(6, 11, 15, 0.8);
    transition: all 0.3s ease 0s;
    letter-spacing: 6px;
}


/*section video 1*/

.video-container {
    display:flex;
    height: 100vh;
}

.content {
    margin:auto;
    text-align:center;
}

h2 {
    font-weight: 300;
    font-size: 60px;
    line-height: 1.2;
    margin-bottom: 15px;
    padding: 10px;
    font-family: "Bebas Neue", sans-serif;
}

h3 {
    padding: 50px;
    font-size:50px;
}
.p{
   font-size: 1.2rem;
   max-width: 600px;
   margin: auto;
   font-family: 'Montserrat', sans-serif;
   text-align:center;
}
.showcase {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align:center;
    padding: 0 20px;

}
.video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:100%;
    overflow: hidden;
    
}

.video-container video {
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.video-container:after {
    content:'';
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.007);
}
/*bottom join in border*/
.content {
    z-index: 10;
    color:#ffff;
    font-family: 'Montserrat', sans-serif;
    
}

.btn{
    display: inline-block;
    padding: 10px 30px;
    color:#fff;
    border: 1px #fff solid;
    margin-top:25px;
    opacity: 0.7;
    
}

.btn:hover {
    letter-spacing: 6px;
    transition: all 0.3s ease 0s;
    transform: scale(0.98);
}

/*about us*/

#about {
    padding: 40px;
    padding-bottom:5rem;
    text-align: center;
}

#about p {
    font-size: 1.2rem;
    max-width: 75%;
    margin: auto;
    font-family: 'Montserrat', sans-serif;
    text-align:justify;
    
}

#about h2 {
    margin: 30px 0;
}

/*user reviews*/


a{ 
    text-decoration: none;
}

#testimonials{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;

}

.testimonial-heading{
    letter-spacing: 1px;
    margin: 30px 0px;
    padding: 10px 20px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.testimonial-heading h3{
    font-size: 2.2rem;
    font-weight: 600;
    background-color: #ffff;
    color: #202022;
    padding: 10px 20px;
    
}

.testimonial-heading span{
    font-size:1.3rem;
    color:#252525;
    letter-spacing: 2px;
    margin:10px;
    text-transform: uppercase;
    font-family: "Open Sans", cursive;

}

.testimonial-box-container{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width:100%;
}


.testimonial-box{
    width: 500px;
    background-color: white;
    padding:20px;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.5);
    margin: 15px;
}

.profile-img{
    width:50px;
    height:50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}

.profile-img img {
    width:100%;
    height:100%;
    object-fit: cover;
    object-position: center;
    
}

.profile{
    display:flex;
    align-items: center;
}

.username{
    display:flex;
    flex-direction: column;

}

.username strong{
    color:#07060e;
    font-size: 1.1rem;
    letter-spacing: 0.5px;
}

.username span{
    color: #979797;
    font-size:0.8rem;
    font-style: italic;
}

.reviews{
    color:#f0cd09;
}

.box-top{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom:20px;
}

.user-comment p{
    font-family:'Montserrat', sans-serif;
    font-size: 0.7rem;

}


/*section2 - card about the outcome*/

.wrapper{
    display: flex;
    width: 100%;
    justify-content: space-around;
    
}
.info{
    font-family: "Open Sans", cursive;

}
.card{
    width: 280px;
    height: 360px;
    padding: 2rem 1rem;
    background: #456c87;
    position: relative;
    display: flex;
    align-items: flex-end;
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
    transition: 0.5s ease-in-out;
}

.card:hover {
    transform: translateY(20px);

}
.card:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width:100%;
    height:100%;
    background: linear-gradient(to bottom, rgba(66,105,132), rgba(219,247,242, 0.8));
    z-index:2;
    transition: 0.5s all;
    opacity: 0;
}

.card:hover:before{
    opacity:1;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top:0;
    left:0;
}

.card .info {
    position: relative;
    z-index: 3;
    color:#fff;
    opacity: 1;
    transition: 0.5s all;
    transform: translateY(30px);
}

.card:hover .info{
    opacity: 1;
    transform:translateY(0px);
}

.card .info p{
    letter-spacing: 1px;
    font-size: 15px;
    margin-top: 8px;
    margin-bottom: 40px;
    font-family: 'Montserrat', sans-serif;

}

#block1 {
    margin-right: 70px; 
}


/*section team */

.meet-our-team { 
    text-align: center;
    background: #fff;
}

.header {
    padding-top:60px;
    color: #000;
    font-size: 20px;
    margin:auto;
    line-height: 50px;
}

.sub-container {
    max-width: 1200px;
    margin: auto;
    padding: 48px 0;
    display: flex;
    justify-content: center;


}

.teams {
    margin: 10px;
    padding: 22px;
    max-width: 30%;
    cursor: pointer;
    transition: 0.5s;
    box-sizing: border-box;
    border-radius: 15px;
}

.teams:hover {
  background: #426984;

}

.teams img {
    width: 142px;
    height: 200px;
    border-radius: 5px 10px 15px 20px;
}

.name {
    padding: 12px;
    font-weight:bold;
    font-size: 20px;
    text-transform: uppercase;
    font-family:"Bebas Neue", cursive;
}

.design {
    font-style: italic;
    color: white;
    font-family:"Bebas Neue", cursive;
}

.about {
    margin: 20px 0;
    font-weight: lighter;
    color: black;
    justify-content:center;
    font-family: "Open Sans";
    
}


/*footer*/


.text-wrapper{
    /*------------o tamanho do footer---------*/
}

.footer-container {
    background:#456c87;
    height:auto;
    width:100vw;
    font-family:"Open Sans";
    padding-top: 40px;
    color:#fff;
}

.left-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

.left-container img{
    width: 19%;
}

.social h3 {
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}

.social h2{
    font-size: 1rem;
    font-weight: 200;
    text-transform: uppercase;
    font-family:"Open Sans", sans-serif;
    
}
.footer-container p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}

.social{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;

}

.social i{
    margin:0 10px;
}

.social a{
    text-decoration: none;
    color: #fff;
}
.social a i {
    font-size: 1.1rem;
}

.social a:hover i{
    color: rgb(54, 78, 99);
    
}
.footer-bottom{
    width: 100vw;
    padding: 20px 0;
    text-align: center;
    
}

.footer-bottom p{
    font-size:14px;
    word-spacing: 2px;
    font-style: italic;
    
}

.footer-bottom span{
    opacity: 1;
    font-weight: 100;
    text-transform:inherit;
    color:#ffff;
}

/*-----------------About us ------------------------*/

.description-abt{
    max-width: 800px;
    margin:30px auto 20px;
}

.description-abt .floating-image{
    max-width: 400px;
    position: relative;
    top:12px;
    overflow: hidden;

}

.description-abt .floating-image.right{
    float: right;
    margin-left: 30px;
    margin-bottom: 10px;
}

.description-abt .floating-image.left{
    float: left;
    margin-right: 30px;
    margin-bottom: 10px;
}

.description-abt p{
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
}

/*---------------------Contact Us--------------------*/

.container-form{
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 20px 100px;
}

.container-form:after{
    content:'';
    position:absolute;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    background: url("../images/pexel01.jpg") no-repeat center;
    background-size: cover;
    z-index: -1;
    filter:blur(50px);
}

.contact-about-box{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    background:#fff;
    text-align: center;
    max-width: 850px;
    
}

.left{
    height: 100%;
    background: url("../images/pexel01.jpg") no-repeat center;
    background-size: cover;
}
.right{
    padding:25px 40px;
}

#font-about{
    position: relative;
    padding-bottom:  10px;
    margin-bottom:10px;
    font-size: 1.5em;
    font-family: 'Montserrat', sans-serif;
}

#font-about::after{
    content:'';
    position: absolute;
    left:40%;
    margin-bottom: 11px;
    bottom:0;
    transform:translateX(-50%);
    width: 50px;
    height: 4px;
    border-radius: 2px;
    background: linear-gradient(45deg,#37607D, #EAFCFF);
}

.field{
    width: 100%;
    padding:0.5rem 1rem;
    background-color:#fff;
    font-size: 1rem;
    transition: 0.3s ease-in;
    margin-bottom: 22px;
    outline:none;
    border: 2px solid rgba(0, 0, 0, 0);
    font-family: 'Montserrat', sans-serif;
  
}


.field:hover{
    background-color:#fff;

}

.field:focus{
    background-color:#fff;
    border-radius:10px;
}

.area{
    min-height: 150px;
}

.button{
    margin-top: 2rem;
    padding: 0.4rem;
    background: linear-gradient(to left,#8aa2b3, #6698a1 );
    color: #ffff;
    cursor: pointer;
    font-size: 0.9rem;
    font-weight: 800;
    border:none;
    height: 48px;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    outline: none;
    border-radius: 6px;
}

.button:hover{
    letter-spacing: 0.5px;
    background: linear-gradient(to left,#8aa2b3, #d3dadb );
}

/*-----------Form-----------------*/

.register-box{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 69px;
    background: linear-gradient(45deg,#37607D, #EAFCFF);
}

.register-container{
    justify-content: center;
    align-items: center;
    background: #fff;
    max-width: 700px;
    padding: 25px 30px;
    width: 90%;
    border-radius: 5px;
}

.register-container .title{
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    position:relative;
    height: 2em;

}

.register-container .title::before{
    content:'';
    background: linear-gradient(45deg,#37607D, #EAFCFF);
    position: absolute;
    height:3px;
    width:30px;
    bottom:21px;
    left:0;
    border-radius:10px;
}

.register-container form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

form .user-details .input-box{
    margin:1px;
    width: calc(100% / 2 - 20px);
   
}

.user-details .input-box input{
   height: 45px;
   width: 100%;
   font-family: 'Montserrat', sans-serif;
   outline: none;
   border-radius: 4px;
   border:none;
   padding-left:0px;
   font-size:14px;
   border-bottom-width: 2px;

}

.user-details .input-box .details-user{
    font-weight: 300;
    margin-bottom: 5px;
    display: block;
    font-family: 'Montserrat', sans-serif;
    
}
form .gender-info .gender-title{
    font-size: 20px;
    font-weight: 800;
    font-family: 'Montserrat', sans-serif;
}


form .gender-info  .category{
    width: 80%;
    display:flex;
    justify-content: space-between;
    margin:14px 0;

}

.gender-info  .category label{
    display:flex;
    align-items: center;

}

.gender-info  .category .opt{
    height:18px;
    width: 18px;
    border: 5px solid transparent;
    border-radius: 50%;
    margin-right: 10px;
    background-color:#d9d9d9;
    
}

#opt01:checked ~ .category label .one,
#opt02:checked ~ .category label .two,
#opt03:checked ~ .category label .three{
    border-color:#d9d9d9;
    background: #110416;
    
}

form input[type="radio"]
{
    display: none;
}

form .button-form{
    height: 45px;
    margin: 45px 0;
}

form .button-form input{
    height: 100%;
    width: 100%;
    text-align: center;
    outline: none;
    color:#fff;
    background:linear-gradient(45deg,#37607D, #EAFCFF);
    font-size: 0.9rem;
    font-weight: 800;
    border-radius: 4px;
    border:none;
    height:48px;
    width: 100%;
    font-family:'Montserrat', sans-serif;
    letter-spacing: 1px;
}

form .button-form input:hover{
    letter-spacing: 0.5px;
    background: linear-gradient(to left,#8aa2b3, #d3dadb );

}