@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat&family=Open+Sans:wght@300;400&display=swap');

*{
    box-sizing:border-box;
    margin: 0;
    padding:0;
    
}
/*nav_bar*/
li, a, button {
font-family:"Bebas Neue", cursive;
font-weight: 500;
font-size: 20px;
color:white;
text-decoration:none;
background-color:#456c87;
}

header {
    display:flex;
    justify-content: space-between;
    align-items:center;
    padding: 30px 10%;
    background-color:#456c87;
}

.logo{
    cursor: pointer;
    width: 19%;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display:inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color:#404040;

}

button {
    padding: 9px 25px;
    background-color: rgb(54, 78, 99);
    border:none;
    border-radius: 30px;
    cursor:pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(6, 11, 15, 0.8);
}

/*section video 1*/

.video-container {
    display:flex;
    height: 100vh;
}

.content {
    margin:auto;
    text-align:center;
}

h1 {
    font-weight: 300;
    font-size: 60px;
    line-height: 1.2;
    margin-bottom: 15px;
    font-family:"Bebas Neue", cursive;
}
.p{
font-size: 1.2rem;
max-width: 600px;
margin: auto;
}
.showcase {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align:center;
    padding: 0 20px;

}
.video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:100%;
    overflow: hidden;
    background: var(--primary-color) url('../images/cover.JPG') no-repeat center center/cover;
}

.video-container video {
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.video-container:after {
    content:'';
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.007);
}
/*bottom join in border*/
.content {
    z-index: 10;
    color:#ffff;
    font-family: 'Montserrat', sans-serif;
    
}

.btn{
    display: inline-block;
    padding: 10px 30px;
    background: var (--primary-color);
    color:#fff;
    border: 1px #fff solid;
    margin-top:25px;
    opacity: 0.7;
}

.btn:hover {
    transform: scale(0.98);
}

/*about us*/

#about {
    padding: 40px;
    text-align: center;
}

#about p {
    font-size: 1.2rem;
    max-width: 600px;
    margin: auto;
}

#about h2 {
    margin: 30px 0;
    color: var(--primary-color);
}
/*section2*/

