@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat&family=Open+Sans:wght@300;400&display=swap');

*{
    box-sizing:border-box;
    margin: 0;
    padding:0;
    
}

html, body{  /*manter ou nao*/
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;

}
/*nav_bar*/
li, a, button {
font-family:"Bebas Neue", cursive;
font-weight: 500;
font-size: 20px;
color:white;
text-decoration:none;
background-color:#456c87;
}

header {
    display:flex;
    justify-content: space-between;
    align-items:center;
    padding: 30px 10%;
    background-color:#456c87;
}

.logo{
    cursor: pointer;
    width: 19%;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display:inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color:#404040;
    
}

button {
    padding: 9px 25px;
    background-color: rgb(54, 78, 99);
    border:none;
    border-radius: 30px;
    cursor:pointer;
    transition: all 0.3s ease 0s;
    
}

button:hover {
    
    background-color: rgba(6, 11, 15, 0.8);
    transition: all 0.3s ease 0s;
    letter-spacing: 6px;

}

@media(max-width: 700px) {

}
/*section video 1*/

.video-container {
    display:flex;
    height: 100vh;
}

.content {
    margin:auto;
    text-align:center;
}

h1 {
    font-weight: 300;
    font-size: 60px;
    line-height: 1.2;
    margin-bottom: 15px;
    font-family: Bebas Neue;
}
.p{
font-size: 1.2rem;
max-width: 600px;
margin: auto;
}
.showcase {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align:center;
    padding: 0 20px;

}
.video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:100%;
    overflow: hidden;
    background: var(--primary-color) url('../images/cover.JPG') no-repeat center center/cover;
}

.video-container video {
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.video-container:after {
    content:'';
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.007);
}
/*bottom join in border*/
.content {
    z-index: 10;
    color:#ffff;
    font-family: 'Montserrat', sans-serif;
    
}

.btn{
    display: inline-block;
    padding: 10px 30px;
    background: var (--primary-color);
    color:#fff;
    border: 1px #fff solid;
    margin-top:25px;
    opacity: 0.7;
    
}

.btn:hover {
    letter-spacing: 6px;
    transition: all 0.3s ease 0s;
    transform: scale(0.98);
}

/*about us*/

#about {
    padding: 40px;
    text-align: center;
}

#about p {
    font-size: 1.2rem;
    max-width: 600px;
    margin: auto;
    font-family: "Open Sans", cursive;
    text-align:justify;
    
}

#about h2 {
    margin: 30px 0;
    color: var(--primary-color);
}
/*section2 - card about the outcome*/

.wrapper{
    display: flex;
    width: 100%;
    justify-content: space-around;
    
}
.info{
    font-family: "Open Sans";

}
.card{
    width: 280px;
    height: 360px;
    padding: 2rem 1rem;
    background: #456c87;
    position: relative;
    display: flex;
    align-items: flex-end;
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
    transition: 0.5s ease-in-out;
}

.card:hover {
    transform: translateY(20px);

}
.card:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width:100%;
    height:100%;
    background: linear-gradient(to bottom, rgba(0,176,155,0.5), rgba(210,231,61,1));/*mudar a cor*/
    z-index:2;
    transition: 0.5s all;
    opacity: 0;
}

.card:hover:before{
    opacity:1;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top:0;
    left:0;
}

.card .info {
    position: relative;
    z-index: 3;
    color:#fff;
    opacity: 1;
    transition: 0.5s all;
    transform: translateY(30px);
}

.card:hover .info{
    opacity: 1;
    transform:translateY(0px);
}

.card .info p{
    letter-spacing: 1px;
    font-size: 15px;
    margin-top: 8px;
    margin-bottom: 20px;

}


/*section team */

.meet-our-team { 
    text-align: center;
    background: #fff;
}

.header {
    padding-top:60px;
    color: #000;
    font-size: 20px;
    margin:auto;
    line-height: 50px;
}

.sub-container {
    max-width: 1200px;
    margin: auto;
    padding: 48px 0;
    display: flex;
    justify-content: center;


}

.teams {
    margin: 10px;
    padding: 22px;
    max-width: 30%;
    cursor: pointer;
    transition: 0.5s;
    box-sizing: border-box;
    border-radius: 15px;
}

.teams:hover {
  background: #456c87;

}

.teams img {
    widows: 200px;
    height: 200px;
    border-radius: 5px 10px 15px 20px;
}

.name {
    padding: 12px;
    font-weight:bold;
    font-size: 20px;
    text-transform: uppercase;
    font-family:"Bebas Neue", cursive;
}

.design {
    font-style: italic;
    color: white;
    font-family:"Bebas Neue", cursive;
}

.about {
    margin: 20px 0;
    font-weight: lighter;
    color: black;
    justify:justify;
    font-family: "Open Sans", cursive;
    
}